VALIDATED FACT-SELLER-PERFORMANCE

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = (
    SparkSession.builder
    .appName("S3Test")
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
    .config("spark.hadoop.fs.s3a.aws.credentials.provider", "com.amazonaws.auth.DefaultAWSCredentialsProviderChain")
    .config("spark.hadoop.fs.s3a.path.style.access", "true")
    .getOrCreate()
)

In [2]:
df = spark.read.parquet(
    "s3a://pedro-datalake-project/gold/fact_seller_performance/"
)
df.printSchema()
df.show(10, truncate=False)

root
 |-- seller_id: string (nullable = true)
 |-- seller_city: string (nullable = true)
 |-- seller_state: string (nullable = true)
 |-- region: string (nullable = true)
 |-- total_orders: long (nullable = true)
 |-- total_customers: long (nullable = true)
 |-- total_revenue: double (nullable = true)
 |-- total_freight: double (nullable = true)
 |-- avg_delivery_time: double (nullable = true)
 |-- late_deliveries: long (nullable = true)
 |-- avg_order_value: double (nullable = true)
 |-- on_time_rate: double (nullable = true)
 |-- created_at: timestamp (nullable = true)

+--------------------------------+--------------+------------+-------+------------+---------------+------------------+------------------+------------------+---------------+------------------+------------------+--------------------------+
|seller_id                       |seller_city   |seller_state|region |total_orders|total_customers|total_revenue     |total_freight     |avg_delivery_time |late_deliveries|avg_order_value   |on_time_rate      |created_at                |
+--------------------------------+--------------+------------+-------+------------+---------------+------------------+------------------+------------------+---------------+------------------+------------------+--------------------------+
|2e3be8a987a30d7544dbbda6861cc14e|belo horizonte|MG          |Sudeste|19          |18             |4430.839999999999 |346.71000000000004|14.0              |1              |233.20210526315785|0.9473684210526316|2025-12-12 12:30:46.727561|
|cc419e0650a3c5ba77189a1882b7556a|santo andre   |SP          |Sudeste|1775        |1706           |104288.41999999977|25668.990000000005|11.485165794066317|103            |58.754039436619586|0.9419718309859155|2025-12-12 12:30:46.727561|
|7ade73f1b9b4e965f9009a4c3a7e2c15|bauru         |SP          |Sudeste|28          |27             |1880.3000000000004|457.87            |9.592592592592593 |0              |67.15357142857144 |1.0               |2025-12-12 12:30:46.727561|
|562fc2f2c2863ab7e79a9e4388a58a14|campinas      |SP          |Sudeste|270         |260            |8814.200000000003 |4305.14           |11.150943396226415|9              |32.64518518518519 |0.9666666666666667|2025-12-12 12:30:46.727561|
|a3e9a2c700480d9bb01fba070ba80a0e|ibitinga      |SP          |Sudeste|144         |130            |13440.8           |2883.0899999999997|13.076923076923077|14             |93.33888888888889 |0.9027777777777778|2025-12-12 12:30:46.727561|
|5b664594895aefb418afaee6d40a9a23|petropolis    |RJ          |Sudeste|22          |16             |1008.8            |226.38000000000002|10.409090909090908|0              |45.85454545454545 |1.0               |2025-12-12 12:30:46.727561|
|ea8482cd71df3c1969d7b9473ff13abc|sao paulo     |SP          |Sudeste|1203        |1146           |37177.51999999999 |17544.769999999997|13.219696969696969|123            |30.904006650041556|0.8977556109725686|2025-12-12 12:30:46.727561|
|2e90cb1677d35cfe24eef47d441b7c87|sao paulo     |SP          |Sudeste|137         |127            |13894.71          |2887.4500000000003|12.05109489051095 |17             |101.4212408759124 |0.8759124087591241|2025-12-12 12:30:46.727561|
|2528513dd95219a6013d4d05176e391a|osasco        |SP          |Sudeste|167         |161            |32689.100000000006|3749.6500000000005|10.5              |9              |195.74311377245513|0.9461077844311377|2025-12-12 12:30:46.727561|
|a673821011d0cec28146ea42f5ab767f|sao paulo     |SP          |Sudeste|146         |129            |13863.689999999997|2626.45           |12.5177304964539  |16             |94.95678082191779 |0.8904109589041096|2025-12-12 12:30:46.727561|
+--------------------------------+--------------+------------+-------+------------+---------------+------------------+------------------+------------------+---------------+------------------+------------------+--------------------------+
only showing top 10 rows

In [3]:
df.select("seller_id").distinct().count(), df.count()

(3096, 3096)

In [4]:
df.select(
    F.min("total_orders").alias("min_orders"),
    F.max("total_orders").alias("max_orders"),
    F.avg("total_orders").alias("avg_orders")
).show()

+----------+----------+----------------+
|min_orders|max_orders|      avg_orders|
+----------+----------+----------------+
|         1|      2033|36.6359819121447|
+----------+----------+----------------+

In [5]:
df.select(
    F.min("on_time_rate").alias("min_rate"),
    F.max("on_time_rate").alias("max_rate")
).show()

+--------+--------+
|min_rate|max_rate|
+--------+--------+
|     0.0|     1.0|
+--------+--------+

In [6]:
df.select([
    F.count(F.when(F.col(c).isNull(), c)).alias(c)
    for c in ["seller_id", "total_orders", "on_time_rate"]
]).show()

+---------+------------+------------+
|seller_id|total_orders|on_time_rate|
+---------+------------+------------+
|        1|           0|           0|
+---------+------------+------------+

In [7]:
df.groupBy("region").count().orderBy("count", ascending=False).show()

+------------+-----+
|      region|count|
+------------+-----+
|     Sudeste| 2287|
|         Sul|  668|
|Centro-Oeste|   79|
|    Nordeste|   56|
|       Norte|    5|
|        NULL|    1|
+------------+-----+