DATA ANALYSIS PAYMENTS BRONZE --> SILVER

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = (
    SparkSession.builder
    .appName("S3Test")
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
    .config("spark.hadoop.fs.s3a.aws.credentials.provider", "com.amazonaws.auth.DefaultAWSCredentialsProviderChain")
    .config("spark.hadoop.fs.s3a.path.style.access", "true")
    .getOrCreate()
)

In [2]:
df = spark.read.parquet("s3a://pedro-datalake-project/bronze/payments/")
df.show(5)
df.printSchema()
df.count()

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 5 rows

root
 |-- order_id: string (nullable = true)
 |-- payment_sequential: long (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- payment_installments: long (nullable = true)
 |-- payment_value: double (nullable = true)

103886

In [3]:
df.select([F.sum(F.col(c).isNull().cast("int")).alias(c) for c in df.columns]).show(vertical=True)

-RECORD 0-------------------
 order_id             | 0
 payment_sequential   | 0
 payment_type         | 0
 payment_installments | 0
 payment_value        | 0

In [6]:
df.groupBy("order_id", "payment_sequential").count().filter("count > 1").show()

+--------+------------------+-----+
|order_id|payment_sequential|count|
+--------+------------------+-----+
+--------+------------------+-----+

In [7]:
df.groupBy("payment_type").count().show()

+------------+-----+
|payment_type|count|
+------------+-----+
|      boleto|19784|
| not_defined|    3|
| credit_card|76795|
|     voucher| 5775|
|  debit_card| 1529|
+------------+-----+

In [8]:
df_silver = (
    df
    .withColumn("payment_type", F.lower(F.trim("payment_type")))
    .withColumn("payment_installments", F.col("payment_installments").cast("int"))
    .withColumn("payment_value", F.col("payment_value").cast("double"))
    .filter(F.col("order_id").isNotNull())
)

In [9]:
df_silver = df_silver.dropDuplicates(["order_id", "payment_sequential"])

In [10]:
df_silver = df_silver.withColumn("audit_timestamp", F.current_timestamp())

In [11]:
df_silver = df_silver.select(
    "order_id",
    "payment_sequential",
    "payment_type",
    "payment_installments",
    "payment_value",
    "audit_timestamp"
)
df_silver.show(20, truncate=False)
df_silver.printSchema()

+--------------------------------+------------------+------------+--------------------+-------------+--------------------------+
|order_id                        |payment_sequential|payment_type|payment_installments|payment_value|audit_timestamp           |
+--------------------------------+------------------+------------+--------------------+-------------+--------------------------+
|00010242fe8c5a6d1ba2dd792cb16214|1                 |credit_card |2                   |72.19        |2025-12-12 10:09:19.070926|
|000aed2e25dbad2f9ddb70584c5a2ded|1                 |credit_card |1                   |152.77       |2025-12-12 10:09:19.070926|
|000e562887b1f2006d75e0be9558292e|1                 |credit_card |4                   |41.11        |2025-12-12 10:09:19.070926|
|000f25f4d72195062c040b12dce9a18a|1                 |credit_card |1                   |164.39       |2025-12-12 10:09:19.070926|
|001021efaa8636c29475e7734483457d|1                 |credit_card |3                   |64.1         |2025-12-12 10:09:19.070926|
|0010dedd556712d7bb69a19cb7bbd37a|1                 |boleto      |1                   |111.12       |2025-12-12 10:09:19.070926|
|0013503b13da1eac686219390b7d641b|1                 |boleto      |1                   |137.22       |2025-12-12 10:09:19.070926|
|001ab0a7578dd66cd4b0a71f5b6e1e41|1                 |boleto      |1                   |127.56       |2025-12-12 10:09:19.070926|
|001d8f0e34a38c37f7dba2a37d4eba8b|1                 |credit_card |2                   |53.54        |2025-12-12 10:09:19.070926|
|001dbc16dc51075e987543d23a0507c7|1                 |credit_card |1                   |87.9         |2025-12-12 10:09:19.070926|
|001e7ba991be1b19605ca0316e7130f9|1                 |credit_card |10                  |213.21       |2025-12-12 10:09:19.070926|
|002691433f09002ac9ca0c4e8dbb8ead|1                 |credit_card |1                   |120.43       |2025-12-12 10:09:19.070926|
|00276d5c3491fbf55305e26891040df9|1                 |credit_card |6                   |68.12        |2025-12-12 10:09:19.070926|
|0028de0ca693a1bb26448916a81105cc|1                 |boleto      |1                   |45.3         |2025-12-12 10:09:19.070926|
|00324b3eda39ba5ecce3945823e3594c|1                 |boleto      |1                   |110.07       |2025-12-12 10:09:19.070926|
|00335b686d693c7d72deeb12f8e89227|1                 |boleto      |1                   |80.79        |2025-12-12 10:09:19.070926|
|00345f338696283410b7977d2e3efc89|1                 |credit_card |1                   |67.34        |2025-12-12 10:09:19.070926|
|0035246a40f520710769010f752e7507|1                 |credit_card |8                   |99.11        |2025-12-12 10:09:19.070926|
|0035e6b7ade84b3f5b86bd49814793df|1                 |credit_card |1                   |34.0         |2025-12-12 10:09:19.070926|
|003a94f778ef8cfd50247c8c1b582257|1                 |credit_card |1                   |57.98        |2025-12-12 10:09:19.070926|
+--------------------------------+------------------+------------+--------------------+-------------+--------------------------+
only showing top 20 rows

root
 |-- order_id: string (nullable = true)
 |-- payment_sequential: long (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- payment_installments: integer (nullable = true)
 |-- payment_value: double (nullable = true)
 |-- audit_timestamp: timestamp (nullable = false)